// links

.nav__link{
  color: $white;
  font-weight: 600;

  @include lg {
    color: $very-dark-blue;
    font-weight: 800;
  }
}


// buttons

.btn{
  color: $white;
  font-weight: 800;
  display: inline-block;
  border: 2px solid $white;
  border-radius: 2rem;
  padding: 0.7em 1em 0.5em;
  transition: 0.3s;

  &:hover{
    background-color: $white;
    color: $light-red;
    text-decoration: none;
  }
}
.btn-white{
  background-color: $white;
  color: $light-red;
  font-weight: 800;

  &:hover{
    background-color: $very-light-red-hover;
    border: 2px solid $very-light-red-hover;
    color: $white;
  }
}
